*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar{
    padding: 15px;
    z-index: 999;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: All 0.5s ease;
}

.navbar.sticky{
    padding: 30px 0;
    background-color: rgb(15, 15, 158); 
}

.max-width{
    max-width: 1800px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.navbar .logo a span{
    background: rgb(15, 15, 158);
    color: white;
    padding: 4px;
    border-radius: 8px;
}

.navbar.sticky .logo a span{
    color: rgb(15, 15, 158);
    background: white;
    padding: 4px;
    border-radius: 8px;
}

.navbar .menu li{
    list-style-type: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.5s ease;
}

.navbar .menu li a:hover{
    color: rgb(191, 17, 17);
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
}

/* menu btn styling */
.menu-btn{
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.685)), url("images/lightkey.jpg");
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 10px;
}

.home .home-content a{
    display: inline-block;
    background: rgb(191, 17, 17);
    color: white;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 25px;
    transition: 0.5s;
}

.home .home-content a:hover{
    border:3px solid rgb(191, 17, 17);
    color: rgb(191, 17, 17);
    background: none;
    padding: 10px 30px;
    border-radius: 8px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    background-color: rgb(15, 15, 158);
    font-weight: 700;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

/* All similar content styling code */
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    background: black;
    bottom: -3px;
    left: 50%;
    width: 180px;
    height: 5px;
    transform: translate(-50%);
}

section .title::after{
    position: absolute;
    background: white;
    color: rgb(191, 17, 17);
    bottom: -15px;
    font-size: 20px;
    left: 50%;
    padding: 5px;
    transform: translate(-50%);
}



/* Services section styling start */
.services{
    margin-top: 80px;
    background: rgb(247, 247, 247);
    /* color: white; */
}
.services .title::after{
    content: "what i provide";
    background: rgb(247, 247, 247);
}

.services .services-content .card{
    width: calc(33% - 20px);
    background: rgb(213, 212, 212);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .services-content .card:hover{
    background-color: rgb(15, 15, 158);
    color: white;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}

.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: black;
    transition: color 0.3s ease;
}

.services .services-content .card:hover i{
    color: white;
}

.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* About Section Styling */
.about, .services{
    font-family: 'Poppins', sans-serif;
}

.about .title::after{
    content: "who i am";
}

.about .about-content,
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: rgb(15, 15, 158);
}

.about .about-content .right p{
    text-align: justify;
    line-height: 1.8;
}

.about .about-content .right a{
    display: inline-block;
    background: rgb(191, 17, 17);
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

.about .about-content .right a:hover{
    border:3px solid rgb(191, 17, 17);
    background: none;
    padding: 12px;
    border-radius: 8px;
    color: rgb(191, 17, 17);
}


/* responsive media querry start */
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1104px){
    .about .about-content .left img{
        height: 320px;
        width: 320px;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;

    }
}

@media(max-width: 947px){
    .menu-btn{
        color:white;
        font-size: 30px;
        cursor: pointer;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        background-color: rgba(4, 4, 100, 0.994); 
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.5s;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 1400px;

    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }


}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    
    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }

    .home .home-content a{
        font-size: 20px;
    }

    .services .services-content .card{
        width:100%;
    }
}

@media(max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 27px;
    }
}




