*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar{
    padding: 15px;
    z-index: 999;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: All 0.5s ease;
}

.navbar.sticky{
    padding: 30px 0;
    background-color: rgb(15, 15, 158); 
}

.max-width{
    /* max-width: 1300px; */
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.navbar .logo a span{
    background: rgb(15, 15, 158);
    color: white;
    padding: 4px;
    border-radius: 8px;
}

.navbar.sticky .logo a span{
    color: rgb(15, 15, 158);
    background: white;
    padding: 4px;
    border-radius: 8px;
}

.navbar .menu li{
    list-style-type: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.5s ease;
}

.navbar .menu li a:hover{
    color: rgb(191, 17, 17);
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
}

/* menu btn styling */
.menu-btn{
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.685)), url("images/lightkey.jpg");
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 10px;
}

.home .home-content a{
    display: inline-block;
    background: rgb(191, 17, 17);
    color: white;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 25px;
    transition: 0.5s;
}

.home .home-content a:hover{
    border:3px solid rgb(191, 17, 17);
    background: none;
    padding: 10px 30px;
    border-radius: 8px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    background-color: rgb(15, 15, 158);
    font-weight: 700;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

/* responsive media querry start */
@media(max-width: 700px){
    .max-width{
        padding: 0 50px;

    }
    .menu-btn{
        color:white;
        font-size: 30px;
        cursor: pointer;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        background-color: rgba(4, 4, 100, 0.994); 
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.5s;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }


    .home .home-content .text-1{
        font-size: 20px;
    }
    
    .home .home-content .text-2{
        font-size: 45px;
        font-weight: 600;
        margin-left: -3px;
    }
    
    .home .home-content .text-3{
        font-size: 25px;
        margin: 5px 0;
    }

}

/* About Section Styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before{
    content: "";
    position: absolute;
    background: black;
    bottom: -3px;
    left: 50%;
    width: 180px;
    height: 5px;
    transform: translate(-50%);
}

.about .title::after{
    content: "who i am";
    position: absolute;
    background: white;
    color: rgb(191, 17, 17);
    bottom: -15px;
    font-size: 20px;
    left: 50%;
    padding: 5px;
    transform: translate(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: rgb(15, 15, 158);
}

.about .about-content .right p{
    text-align: justify;
    line-height: 1.8;
}

.about .about-content .right a{
    display: inline-block;
    background: rgb(191, 17, 17);
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

.about .about-content .right a:hover{
    border:3px solid rgb(191, 17, 17);
    background: none;
    padding: 12px;
    border-radius: 8px;
    color: rgb(191, 17, 17);
}

